<div id="chartContainer" style="height: 350px">
    <!-- Canvas-Element für den Chart -->
    <canvas id="myChart"></canvas>
</div>

<script>
    // Warten bis das DOM vollständig geladen ist
    document.addEventListener("DOMContentLoaded", (event) => {
        const ctx = document.getElementById("myChart").getContext("2d");

        // Benutzerdefiniertes Icon als Bild laden
        const img = new Image();
        img.src = "{{ url_for('static', filename='images/droplet.svg') }}";

        // Daten und Optionen für das Line Chart
        const data = {
            datasets: [
                {
                    label: "Temperature",
                    yAxisID: "y",
                    data: [
                        {% for item in data['sensors'] %}
                        {
                            x: "{{ item[0] }}",
                            y: {{ item[1] }},
                        },
                        {% endfor %}
                    ],
                    borderColor: "rgba(255, 99, 132, 1)",
                    backgroundColor: "rgba(255, 99, 132, 0.2)",
                    fill: false,
                },
                {
                    label: "Humidity",
                    yAxisID: "y1",
                    data: [
                        {% for item in data['sensors'] %}
                        {
                            x: "{{ item[0] }}",
                            y: {{ item[2] }},
                        },
                        {% endfor %}
                    ],
                    borderColor: "rgba(54, 162, 235, 1)",
                    backgroundColor: "rgba(54, 162, 235, 0.2)",
                    fill: false,
                },
                {
                    label: "Watered",
                    type: "scatter",
                    data: [
                        {% for action in data['actions']['pump'] %}
                        {
                            x: "{{ action['dt_from'] }}",
                            y: 0,
                        },
                        {% endfor %}
                    ],
                    pointStyle: img,
                    pointRadius: 10,
                    showLine: false,
                    legend: {
                        display: false, // This will hide the legend for this dataset
                    },
                },
            ],
        };

        const options = {
            responsive: true,
            maintainAspectRatio: false,
            interaction: {
                mode: "index",
                intersect: false,
            },
            plugins: {
                tooltip: {
                    callbacks: {
                        title: (context) => {
                            const selectedPoint = context[0];
                            if (selectedPoint.dataset.label === "Ereignisse") {
                                const title = `Ereignis am ${selectedPoint.label}`;
                                document.title = title;
                            }
                            return selectedPoint.label;
                        },
                    },
                },
                annotation: {
                    annotations: {
                        {% for action in data['actions']['light'] %}
                        box_light_{{ loop.index }}: {
                            type: "box",
                            xMin: "{{ action['dt_from'] }}",
                            xMax: "{{ action['dt_to'] }}",
                            yMin: 0,
                            yMax: "max",
                            backgroundColor: "rgba(255, 255, 0, 0.3)",
                            borderColor: "rgba(255, 255, 0, 0.3)",
                            borderWidth: 1,
                        },
                        {% endfor %}
                        {% for action in data['actions']['ventilation'] %}
                        box_pump_{{ loop.index }}: {
                            type: "box",
                            xMin: "{{ action['dt_from'] }}",
                            xMax: "{{ action['dt_to'] }}",
                            yMin: 0,
                            yMax: 5,
                            backgroundColor: "rgba(0, 0, 0, 0.3)",
                            borderColor: "rgba(0, 0, 0, 0.3)",
                            borderWidth: 1,
                        },
                        {% endfor %}
                    },
                },
                legend: {
                    labels: {
                        filter: (item) => item.text !== "Watered",
                    },
                },
            },
            scales: {
                x: {
                    type: "time",
                    time: {
                        unit: "day",
                        tooltipFormat: "ll",
                        displayFormats: {
                            day: "MMM D",
                        },
                    },
                    title: {
                        display: true,
                        text: "Datum",
                    },
                },
                y: {
                    type: "linear",
                    position: "left",
                },
                y1: {
                    type: "linear",
                    position: "right",
                    grid: {
                        drawOnChartArea: false,
                    },
                },
            },
        };

        // Erstellen des Chart-Objekts
        const myChart = new Chart(ctx, {
            type: "line",
            data: data,
            options: options,
        });

        // Event-Listener für Klick-Events auf dem Chart
        document.getElementById("myChart").onclick = (evt) => {
            const points = myChart.getElementsAtEventForMode(
                evt,
                "nearest",
                { intersect: true },
                true
            );
            if (points.length) {
                const firstPoint = points[0];
                const label = new Date(
                    firstPoint.element.x
                ).toLocaleDateString();
                if (
                    myChart.data.datasets[firstPoint.datasetIndex].label ===
                    "Ereignisse"
                ) {
                    document.title = `Ereignis am ${label}`;
                } else {
                    const value1 = myChart.data.datasets[firstPoint.index].y;
                    const value2 = myChart.data.datasets[firstPoint.index].y;
                    document.title = `Tag ${label}: Dataset 1 - ${value1}, Dataset 2 - ${value2}`;
                }
            }
        };
    });
</script>
